.todo-list-container {
  margin-top: 14px;
  width: 100%;
  max-width: 650px;
  margin: auto;
}

.dark-todo-list-container {
  background-color: black;
  color: #fff;
}

.dark-todo-list-container .search-container input {
  border: 1px solid rgba(247, 247, 247, 1);
  background-color: transparent;
  color: #fff;
}

.search-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-container input {
  flex-grow: 1;
  font-size: 0.9rem;
  padding: 0.5rem 0.54rem;
  border: 1px solid #6c63ff;
  outline: none;
  border-radius: 3px;
  font-size: 12px;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  color: black;
}

.search-containe input::placeholder {
  color: rgba(195, 193, 229, 1);
}

.dropdown {
  font-size: 0.9rem;
  padding: 0.5rem 0.54rem;
  background-color: #6c63ff;
  outline: none;
  border-radius: 3px;
  font-size: 12px;
  color: #fff;
  cursor: pointer;
  margin-left: 4px;
}

.todos-list-container {
  list-style: none;
  padding: 0;
  margin-top: 10px;
  width: 100%;
}

.empty-container {
  text-align: center;
  margin-top: 20px;
}

.empty-todos {
  width: 100%;
  max-width: 280px;
}

.todo-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 16px;
}
.description-el {
  width: 100%;
  margin-left: 8px;
  margin-right: 8px;
  font-family: "Ubuntu Sans", "sans-serif";
}

.complete {
  text-decoration: line-through;
}

.description-edit {
  width: 100%;
  border: 1px solid #bfbfbf;
  padding: 6px 10px;
  margin-left: 4px;
  margin-left: 4px;
  border-radius: 4px;
  outline: none;
  align-items: center;
}

.todo-item-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  margin-right: 10px;
}

.dark-icon {
  color: #fff;
}

.checkbox-button {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.checkbox-button input {
  cursor: pointer;
}

.cancel-save-button {
  margin-left: 6px;
  margin-right: 6px;
  padding: 4px 6px;
  border: 1px solid #bfbfbf;
  color: #000;
  border-radius: 2px;
  font-family: "Ubuntu Sans", "sans-serif";
  cursor: pointer;
}

.modal {
  font-family: "Ubuntu Sans", "sans-serif";
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
}

.modal-content {
  background-color: #fff;
  width: 100%;
  max-width: 360px;
  border-radius: 0.2rem;
  margin: 0.6rem;
  padding: 0.8rem;
}

.dark-modal-content {
  background-color: black;
  color: #fff;
  border: 1px solid #bfbfbf;
}

.modal-content h2 {
  font-size: 20px;
  text-align: center;
}

.modal-content form input {
  width: 100%;
  font-size: 0.9rem;
  padding: 0.4rem 0.4rem;
  border: 1px solid #6c63ff;
  outline: none;
  border-radius: 0.1rem;
  font-size: 12px;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

.dark-modal-content form input {
  border: 1px solid rgba(247, 247, 247, 1);
  background-color: transparent;
  color: #fff;
}

.modal-content form input::placeholder {
  color: rgba(195, 193, 229, 1);
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
}

.button-container button {
  width: 70px;
  border: none;
  border-radius: 2px;
  color: #fff;
  background-color: #6c63ff;
  padding: 0.2rem 0.4rem;
  outline: none;
  cursor: pointer;
}

.button-container .close {
  background-color: transparent;
  color: #6c63ff;
  border: 1px solid #6c63ff;
}

.dark-close {
  background-color: black;
}
