.modal {
  font-family: "Ubuntu Sans", "sans-serif";
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
}


.modal-content {
  background-color: #fff;
  width: 100%;
  max-width: 360px;
  border-radius: 0.2rem;
  margin: 0.6rem;
  padding: 0.8rem;
}

.dark-modal-content{
  background-color: black;
  color: #fff;
  border: 1px solid #bfbfbf;
}


.modal-content h2 {
  font-size: 20px;
  text-align: center;
}

.modal-content form input {
  width: 100%;
  font-size: 0.9rem;
  padding: 0.4rem 0.4rem;
  border: 1px solid #6c63ff;
  outline: none;
  border-radius: 0.1rem;
  font-size: 12px;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  
}

.dark-modal-content form input{
  border: 1px solid rgba(247, 247, 247, 1);
  background-color: transparent;
  color: #fff;
}

.modal-content form input::placeholder{
  color: rgba(195, 193, 229, 1);
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top:1.5rem;
}

.button-container button {
    width: 70px;
 border: none;
 border-radius: 2px;
  color: #fff;
  background-color: #6c63ff;
  padding: 0.2rem 0.4rem;
  outline: none;
  cursor: pointer;
}

.button-container .close{
    background-color: transparent;
    color: #6c63ff;
    border: 1px solid #6c63ff;
}

.dark-close{
    background-color: black;
    
}