<div class="modal">
  <!-- Modal content -->
  <div [ngClass]="darktheme ? 'modal-content  dark-modal-content': 'modal-content'">
    <h2>Add Todo</h2>
    <form>
      <input
        type="text"
        [(ngModel)]="description"
        name="todoDescription"
        placeholder="Enter todo description"
        (keydown)="onKeyPress($event)"
      />
      <div class="button-container">
        <button class="close" (click)="closeModal()">Cancel</button>
        <button type="button" (click)="addTodo()">Add</button>
      </div>
    </form>
  </div>
</div>
